.section-idealizador {
  background-image: url("../../../../assets/backgroundescritorio.jpg");
  background-size: auto;
  background-repeat: space;
  background-position: top;
  height: 100%;
  padding-inline: 12%;
  padding-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content-idealizador {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 2%;
  margin-bottom: 8%;
  padding-inline: 3%;
  margin-inline: 5%;
  background-color: rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding-bottom: 25%;
}

.content-idealizador h3 {
  color: #dda92e;
  font-size: 40px;
  font-weight: 600;
}

.content-idealizador p {
  color: #fff;
  font-weight: 300;
}
.content-idealizador b {
  font-weight: 600;
  color: #ffdf92;
}

.content-image-idealizador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-image-idealizador img {
  width: 500px;
}

.content-idealizador button {
  color: #02093a;
  font-size: 14px;
  font-weight: 500;
  background: linear-gradient(to right, #dda92e, #ffdf92);
  border: none;
  border-radius: 5px;
  padding-inline: 5px;
  padding-block: 10px;
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-idealizador {
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
  }

  .content-image-idealizador img {
    width: 200px;
  }
  .content-idealizador button {
    width: 80%;
  }
}
