.section-publico {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-block: 5%;
  padding-inline: 12%;
  background: linear-gradient(to right, #02093a, #000d74);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.section-publico h3 {
  color: #dda92e;
  font-size: 40px;
  font-weight: 600;
}

.section-publico h5 {
  color: #fff;
  font-size: 20px;
  padding-inline: 18%;
}

/* card dos clientes */

.container-publico {
  padding-bottom: 10px;
}

.card-publico {
  padding: 5px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.card-publico img {
  width: 150px;
  max-width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .section-publico {
    padding-inline: 5%;
    gap: 10px;
  }
  .container-publico {
    justify-content: left;
    gap: 2px;
  }
  .section-publico h3 {
    font-size: 22px;
    padding-inline: 0;
  }

  .section-publico h5 {
    font-size: 14px;
    padding-inline: 0;
    font-weight: 300;
  }
  .card-publico img {
  width: 120px;
  max-width: 120px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
}
}
