.section-atuacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  justify-content: space-between;
  padding-block: 5%;
  padding-inline: 12%;
  background-image: url("../../../../assets/bgsection.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-atuacao hr {
  background: linear-gradient(to right, #ffdf92, #dda92e);
  height: 2px;
  border: none;
}

.left {
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding-block: 10%;
}

.data-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.data-section h3 {
  color: #02093a;
  font-style: italic;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.right {
  justify-self: end;
}

.right img {
  width: 80%;
}
.text-title {
  font-size: 32px;
  color: #02093a;
}

.text-title b {
  font-weight: bold;
}

.bottom {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  background-color: #02093a;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  padding-block: 6%;
  align-items: center;
  background: url("../../../../assets/imagebg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.container-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 15%;
}

.container-box h3 {
  color: #ffdf92;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.container-box h4 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

/* tags areas de atuacao */
.container-tags {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-tags span {
  color: #fff;
  background-color: #02093a;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .section-atuacao {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .text-title {
    font-size: 25px;
  }
  .data-section h3 {
    font-size: 15px;
  }
  .container-box h3 {
    font-size: 15px;
  }
}
