/* seção carrosel de empresas */
.container-empresas-open-slide {
    padding-inline: 12%;
}

.section-empresas-open {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* importante para esconder a parte que "transborda" */
}

.logo-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-slide img {
    max-width: 120px;
    width: 120px;
    object-fit: contain;
}

.section-empresas-open::before,
.section-empresas-open::after {
    content: "";
    position: absolute;
    top: 0;
    width: 500px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.section-empresas-open::before {
    left: 0;
    background: linear-gradient(to right, white, transparent);
}

.section-empresas-open::after {
    right: 0;
    background: linear-gradient(to left, white, transparent);
}

@media (max-width: 768px) {
    .section-empresas-open::before,
    .section-empresas-open::after {
        display: none;
    }

    .section-empresas-open::before {
        display: none;
    }

    .section-empresas-open::after {
        display: none;
    }
}