.section-midias-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 12%;
  /* padding-block: 8%; */
}

.content-midias {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}
.content-midias img {
  width: 280px;
}
.content-midias video {
  width: 280px;
}
