.section-admin-dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 12%;
  padding-block: 8%;
}

.section-admin-dashboard img {
  width: 80px;
}

.section-admin-dashboard h5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}

.table-admin {
  border: 1px solid #6d6d6d;
}
.table-admin tr td {
  border: 1px solid #6d6d6d;
  padding: 5px;
}

.table-admin th {
  border: 1px solid #6d6d6d;
  padding: 5px;
}

.table-admin thead {
  font-weight: 600;
  background-color: rgb(241, 241, 241);
}

.table-admin tbody i {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

/* modal */

.dialog-container {
  border: 1px solid #adadad;
  border-radius: 12px;
  min-width: 50vw;
}

.form-create {
  padding-inline: 2%;
}

.form-input-create {
  display: flex;
  flex-direction: column;
  margin-block: 10px;
}
.form-create label {
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.form-create input {
  border: 1px solid #7c7c7c;
  color: #02093a;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  padding-block: 5px;
  padding-inline: 3px;
}

.form-create select {
  border: 1px solid #7c7c7c;
  color: #02093a;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  padding-block: 5px;
  padding-inline: 3px;
}

.form-content-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: end;
}

.form-create button {
  background-color: #2b8c8d;
  color: #fff;
  font-size: 16px;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  cursor: pointer;
}
