.section-depoimentos {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block: 3%;
  padding-inline: 12%;
  /* background: linear-gradient(to right, #02093a, #000d74); */
  background-image: url("../../../../assets/bgsection.png");
  background-position: right;
  background-repeat: repeat-x;
  background-size: contain;
  text-align: left;
}

.section-depoimentos h3 {
  color: #000d74;
  font-size: 40px;
  font-weight: 400;
}
.section-depoimentos b {
  font-weight: 700;
}

.container-depoimentos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-block: 3%;
  border-radius: 10px;
  justify-content: flex-end;
  background: linear-gradient(to right, #000d74, #02093a);
  border: 2px solid #dda92e;
  margin-right: 30%;
}
.container-depoimentos-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-block: 2%;
  border-radius: 10px;
  justify-content: flex-end;
  background: linear-gradient(to right, #000d74, #02093a);
  border: 2px solid #dda92e;
  margin-left: 30%;
}
.container-depoimentos iframe {
  border-radius: 10px;
  width: 500px;
  height: 280px;
}

.container-depoimentos-second iframe {
  border-radius: 10px;
  width: 500px;
  height: 280px;
}

.content-depoimento-descricao {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
}

.content-depoimento-descricao h6 {
  font-size: 25px;
  font-weight: 600;
  color: #dda92e;
}

.content-depoimento-descricao p {
  font-size: 18px;
  color: #fff;
}

.content-mais-depoimentos {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
}

.content-mais-depoimentos i {
  color: #dda92e;
}

@media (max-width: 768px) {
  .section-depoimentos {
    padding-inline: 2%;
    text-align: center;
  }
  .section-depoimentos h3 {
    font-size: 25px;
  }
  .container-depoimentos {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-inline: 2%;
  }
  .container-depoimentos-second {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .container-depoimentos iframe {
    width: 300px;
    height: 200px;
  }
  .container-depoimentos-second iframe {
    width: 300px;
    height: 200px;
  }
  .container-depoimentos {
    margin-block: 5%;
  }
  .content-depoimento-descricao {
    padding-block: 2%;
    text-align: center;
    gap: 5px;
  }
}
