.banner-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.video-background {
  display: flex;
  align-items: flex-start; /* Alinha ao topo da section */
  width: 100vw;
  height: 80vw;
  min-height: 80vh;
  border: none;
  object-fit: contain; /* Faz o vídeo cobrir o espaço */
}
@media (min-width: 1280px) {
  .video-background {
    margin-top: -24.6vh;
    max-height: 1200px;
  }
}
