.banner-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.video-background {
  display: flex;
  align-items: flex-start; /* Alinha ao topo da section */
  align-items: flex-start;
  margin-bottom: -20vh;
  height: 850px;
  min-height: 1200px;
  max-height: 100%;
  border: none;
  object-fit: contain; /* Faz o vídeo cobrir o espaço */
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .video-background {
    margin-top: -24.6vh;
    max-height: 1200px;
  }
}
