.slider-container {
    width: 550px;
    position: relative; 
}

.slider-for img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.slider-nav .slick-slide {
    opacity: 0.5;
    padding: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
/* //retira da tela a seta padrão do slick */
.slick-prev:before { 
    display: none;
}
.slick-next:before {
    display: none;
}
.slick-prev {
  left: -40px; 
}

.slick-next {
  right: -40px;
}

.slider-nav {
    opacity: 1;
    width: 100%;
}

.slider-nav img {
    height: 80px;
    width: 100%;
    align-items: center;
    object-fit: cover;
    border-radius: 8px;
}